:root{
  --blacktext:#011627;
}

a{
  text-decoration: none;
}

*{
  box-sizing:content-box;
}
@font-face {
  font-family:logostyle;
  src: url('./fonts/BrunoAceSC-Regular.ttf');
}

@font-face {
  font-family:wobbler;
  src: url('./fonts/wobbler.woff');
}


@font-face {
  font-family:oleoscript_bold;
  src: url('./fonts/oleo_script/OleoScript-Bold.ttf');
}


@font-face {
  font-family: montserrat_bold;
  src: url('./fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: montserrat_semibold;
  src: url('./fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: montserrat_regular;
  src: url('./fonts/montserrat/Montserrat-Regular.ttf');
}

html{
  scroll-behavior: smooth; 
}



/* body.light{


  --background: #FBFBFF;
  --foreground: #23967F;
  --secondinv:#23967F;

  --textcolor:#011627;
  --invbackground:#011627;
  --invtextcolor:#FBFBFF;


  background: #FBFBFF;
  color:var(--textcolor)
}

body.dark{

  --background: #011627;
  --foreground: #41EAD4;
  --secondinv:#23967F;

  --textcolor:#FBFBFF;


  --invbackground:#FBFBFF;
  --invtextcolor:#011627;
  background:#011627;
  color:var(--textcolor);
} */

body.light {
  --primary: #ec5300;
  --secondary: #ffc107;
  --complementary: #0077b6;
  --otherOne:#F5E6CA;
  --otherTwo:#BFC7C7;

  --bordercolor:#D9D9D9;
 
  --dim:#3A3A3A;
  --background: #f8f9fa;
  --text: #000;

}

body.dark {
  --primary: #ec5300;
  --secondary: #d7263d;
  --complementary: #00509d;
  --otherOne:#F5E6CA;
  --otherTwo:#D9D9D9;

  --bordercolor:#D9D9D9;
 
  --dim:#3A3A3A;
  --background: #1c1c1c;
  --text: #eaeaea;
}


body{
  margin:0px;
  font-family:montserrat_regular;
  color:var(--text);

  background:var(--background);
}


.t40{
  font-size: 40px;
}

.t30{
  font-size: 30px;
}

.t28{
  font-size: 28px;
}

.t25{
  font-size: 25px;
}

.t23{
  font-size: 23px;
}

.t20{
  font-size: 20px;
}

.t18{
  font-size: 18px;
}

.t16{
  font-size: 16px;
}

.t14{
  font-size: 14px;
}

.t13{
  font-size: 13px;
}

.t12{
  font-size: 12px;
}

.t11{
  font-size: 11px;
}


.t10{
  font-size: 10px;
}

.t8{
  font-size: 8px;
}





@media (max-width: 1550px) { 
    .dashBox{
        width: 85%;
     }


     .dashBoxTwo{
        width: 67%;
     }


     .goBackCont{
        width: 85%; 
     }
}

@media (max-width: 1450px) { 
   
}

@media (max-width: 1350px) { 
   
   }
   
   @media (max-width: 1300px) { 
     
   }

  @media (max-width: 1205px) { 
   

  }

  @media (max-width: 1110px) { 
    
  }



  @media (max-width: 1040px) { 
  
  }

  @media (max-width: 1000px) { 
    
   
  }

  @media (max-width: 950px) { 

   

  }


 

  @media (max-width: 900px) { 

   

  }


  @media (max-width: 800px) { 

   
   
  }

  @media (max-width: 730px) { 
  

    
  }

  @media (max-width: 700px) { 

   
  }

  @media (max-width: 630px) { 

   


    .t40{
        font-size: 34px !important;
    }
    
    .t30{
        font-size: 27px !important;
    }
    
    .t28{
        font-size: 24px !important;
    }
    
    .t25{
        font-size: 21px !important;
    }
    
    .t23{
        font-size: 19px !important;
    }
    
    .t20{
        font-size: 17px !important;
    }
    
    .t18{
        font-size: 16px !important;
    }
    
    .t16{
        font-size: 14px !important;
    }

    .t15{
        font-size: 14px !important;
    }
    
    .t14{
        font-size: 14px !important;
    }
    
    .t13{
        font-size: 13px !important;
    }
    
    .t11{
        font-size: 11px !important;
    }
    
    
    .t10{
        font-size: 10px !important;
    }
    
    .t8{
        font-size: 8px !important;
    }


   
   
  }


  @media (max-width: 550px) { 
  
  }


  @media (max-width: 500px) { 


  }



  @media (max-width: 450px) { 

   

  }

  @media (max-width: 400px) { 

    

  }


  @media (max-width: 340px) { 


  }




